@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
   font-family: 'Roboto Mono', monospace;
   color: #0500E4;
}
body {
   margin: 0;
   background-color: #F9F8F6;
   color: #0F58A2;
   background-size: cover;
   background-attachment: fixed;
}
.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
h1 {
   font-family: 'Pacifico', cursive;
   color: #0500E4;
   font-size: 5rem;
   text-align: center;
   width: auto;
}
input {
   padding: 0.8rem;
   color: black;
}
button {
   color: #2a385b;
}
.mail {
   margin: 0.5rem;
}
.camera {
   width: 3%;
}
section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.sign-in {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.sign-up {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   display: none;
}
.boxPost {
   color: black;
}

